// progress indicator
.progress-container {
  width: 640px;
  margin: 0 auto;
  height: 0.5rem;
  border: 1px solid #aaa;
  .progress-bar {
    width: 0;
    height: 100%;
    background: #00AA00;
  }
}
// exercise container
.exercise {
  width: 960px;
  height: 600px;
  display: block;
  border: 1px solid #aaa;
  margin: 0 auto;
}
