// controls panel
.controls {
  padding: 0.5rem 0;
  .row {
    width: 100%;
    display: flex;
    .col {
      flex-grow: 1;
      padding: 0.5rem;
      border-bottom: 4px solid transparent;
      transition: border 300ms ease-out;
      &.pull-right {
        margin-left: auto;
      }
      &.completed {
        border-bottom: 4px solid darkolivegreen;
      }
      button {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  .edit-form {
    height: 0;
    transition: height 200ms ease-out;
    overflow: hidden;
    &.show {
      height: 120px;
    }
    textarea {
      width: 100%;
    }
  }
}
