// controls panel
.controls {
  padding: 0.5rem 0;
  .row {
    width: 100%;
    display: flex;
    .col {
      flex-grow: 1;
      padding: 0.5rem;
      &.pull-right {
        margin-left: auto;
      }
      &.completed {
        background-color: darkolivegreen;
      }
    }
  }
  textarea {
    width: 100%;
  }
}
