// controls panel
.controls {
  padding: 0.5rem 0;
  .row {
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
    .col {
      flex-grow: 0;
      padding: 0 0.5rem;
      &.pull-right {
        margin-left: auto;
      }
    }
  }
}
