// main app container
.app {
  text-align: center;
  // header of the app
  .app-header {
    background-color: #222;
    height: 30px;
    padding: 10px;
    color: white;
    .app-title {
      font-size: 1.2em;
    }
  }
  // progress indicator
  .progress-container {
    width: 640px;
    margin: 0 auto;
    height: 0.5rem;
    border: 1px solid #aaa;
    .progress-bar {
      width: 0;
      height: 100%;
      background: #00AA00;
    }
  }
  // exercise container
  .exercise {
    width: 640px;
    height: 320px;
    display: block;
    border: 1px solid #aaa;
    margin: 0 auto;
  }
}
