// main app container
.app {
  text-align: center;
  // header of the app
  .app-header {
    background-color: #222;
    height: 30px;
    padding: 10px;
    color: white;
    .app-title {
      font-size: 1.2em;
    }
  }
  .app-body {
    width: 970px;
    margin: 0 auto;
  }
}
